/* Screens size 1030px and up */

body {
   padding: {
      left: 2em;
      right: 2em;
   }

   margin: 0px;
}

header {
   h1 {
      padding: {
         top: 1%;
         bottom: 1%;
      }
      font-size: 3em;
   }
}

div#content {
   margin: {
      left:15%;
      right: 15%;
   }
   padding: {
      top: 1em;
      left: 2em;
      right: 2em;
      bottom: 2em;
   }
}

#table-of-contents {
   display: inline;
   background-color: #CCC;
   border: 1px solid #999;
   padding: {
      top: 5px;
      bottom: 5px;
      left: 10px;
      right: 10px;
   }
   width: 15%;
   overflow: auto;
   right: 0;
   top: 0;
   position: fixed;

   h2 {
      text-align: center;
   }

   font-size: 85%;
}

h2 {
   font-size: 1.8em;
}

h3 {
   font-size: 1.3em;
}

h4 {
   font-size: 1.2em;
}

img.floatleft, img.floatright {
    display: inline;
    max-width: 33%;
}
